{% extends 'blog/base.html' %}

{% block content %}
    {% if form.errors %}
        <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}

      <div class="jumbotron" style = "background-color : white">
        <h1>Coin Edit</h1>
        <p class="lead">등록하신 코인을 수정할 수 있습니다. <br/> 변경하실 코인명(영문)이나 수량(숫자)을 입력 후 코인수정 버튼을 클릭해주세요. </p>

         <form method="POST" class="post-form">{% csrf_token %}
                   <table class="table table-bordered">
              {{ form.as_table}}
          </table>


          <p><button type="submit" class="btn btn-lg btn-success" href="#" role="button"  >코인수정</button></p>

        </form>

      </div>






{% endblock %}