{% extends 'blog/base.html' %}

{% block content %}

<div class="table-responsive">
 <table class="table table-bordered" style="text-align:center">
     <thead>
         <tr >
             <th class="col-sm-1" style="text-align:center">코인명</th>
              <th class="col-sm-1" style="text-align:center">심볼</th>
              <th class="col-sm-1" style="text-align:center">보유수량</th>
             <th class="col-sm-1" style="text-align:center">총 KRW 가격</th>
             <th class="col-sm-1" style="text-align:center">KRW 가격</th>
             <th class="col-sm-1" style="text-align:center">USD 가격</th>
             <th class="col-sm-1" style="text-align:center">BTC 가격</th>
             <th class="col-sm-2" style="text-align:center">등록시간</th>
         </tr>
     </thead>
     <tbody>
    {% for post in posts %}
         <tr>
             <td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.coin_name }}</a></td>
             <td>{{ post.symbol}}</td>
             <td>{{ post.quantity }}</td>
             <td>{{ post.total_price_krw }} 원</td>
             <td>{{ post.price_krw }} 원</td>
             <td>$ {{ post.price_usd }}</td>
             <td>{{ post.price_btc }}</td>
             <td>{{ post.published_date }}</td>
         </tr>
    {% endfor %}
     </tbody>
 </table>
</div>

{% endblock %}


        <!--<div class="post">
            <div class="date">
              <p>{{ post.published_date }}</p>
            </div>
              <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>!-->